@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --color-laranja: 238, 60, 28;
      --color-dourado-100: 220, 208, 180;
      --color-dourado-200: 250, 244, 230;
      --color-dourado-300: 87, 74, 52;
      --color-azul-100: 196, 226, 249;
      --color-azul-200: 68, 150, 213;
      --color-azul-300: 31, 48, 74;
      --color-roxo-100: 208, 179, 241;
      --color-roxo-200: 133, 99, 214;
      --color-roxo-300: 52, 32, 100;
      --color-vermelho-100: 248, 53, 56;
      --color-vermelho-200: 141, 31, 29;
      --color-vermelho-300: 65, 10, 9;
      --color-verde-100: 151, 221, 113;
      --color-verde-200: 105, 140, 86;
      --color-verde-300: 36, 70, 35;
  
      --color-light: 245, 245, 245;
      --color-dark: 14, 14, 14;
      --color-darker: 0, 0, 0;

      --color-primary: rgb(255 115 179);
      --color-secondary: rgb(111 114 185);
    }
  }