/* lore header */

header {
	background-image: url('../assets/images/lore/vorinclex-header.jpg');
}

.header-container {
	position: static;
}

.header-img img {
	width: 100%;
}

/* footer */

.footer-container {
	background: linear-gradient(
		180deg,
		var(--color-green-300) 0%,
		var(--color-green-100) 68%
	);
}

.footer-wotc-terms a,
.footer-wotc-social a,
.dev-info h3,
.dev-contact,
.dev-socials a {
	color: var(--color-green-300);
}

.footer-copyright {
	color: var(--color-green-100);
}

/* general tags */

/* body {
	font-family: 'Poppins', sans-serif;
	color: var(--color-white);
	background-color: var(--color-black);
}

header {
	background-image: linear-gradient(to bottom, transparent 0%, #000000 99%), url(./../assets/images/lore/lore-bg-crop.jpg);
	height: 500px;
}

.header-container {
	top: 8.5rem;
	display: grid;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.rules-header-img {
	text-align: center;
}

.rules-header-img img {
	width: 478px;
	height: 195px;
	margin-bottom: 1.5rem;
}

.header-info p{
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0px 3px 3px #000000;
	width: 600px;
}

.header-info u{
	text-decoration: underline;
} */

.main-conteiner {
	display: grid;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	gap: 20px;
}

.formats-rules-filter {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.formats-and-rules-filter h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	font-size: 2.5rem;
	letter-spacing: 0.3rem;
	color: var(--color-gold-100);
	text-align: center;
	margin: 0 0 60px 0;
}

.rules-btn {
	padding: 0.5rem 3rem;
	font-family: 'Poppins', sans-serif;
	font-size: 1.1rem;
	font-weight: 300;
	letter-spacing: 0.2rem;
	color: var(--color-gold-300);
	border: 1px solid var(--color-gold-100);
	background-color: var(--color-gold-100);
	cursor: pointer;
	transition: var(--transition);
	width: 250px;
}

.rules-btn:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.rules-btn:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.rules-btn:hover {
	color: var(--color-gold-100);
	background-color: var(--color-gold-300);
}

/*------------------------------------*/

.section-conteiner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 957px;
	height: 215px;
	background: #0e0e0e;
	border-radius: 15px;
}

.description-box img {
	display: flex;
	align-items: center;
	width: 376px;
	height: 213px;
	border-radius: 15px 0 0 15px;
}

.description-text {
	display: grid;
	justify-content: center;
	align-items: center;
	margin-right: 1px;
	width: 600px;
	height: 200px;
}

.description-text h1 {
	font-weight: 700;
	font-size: 22px;
	line-height: 33px;
	text-align: start;
	letter-spacing: 0.14em;
}

.description-text h4 {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.14em;
	margin-top: -15px;
}

.description-text em {
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 300;
	font-size: 9px;
	line-height: 14px;
	letter-spacing: 0.14em;
	color: #797979;
}

.description-text p {
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 18px;
	width: 509px;
	height: 33px;
	color: #ffffff;
}

.read-more {
	display: flex;
	justify-content: right;
	align-items: center;
	text-align: center;
	gap: 10px;
}

.read-more a {
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	text-align: end;
	color: #e6d9c2;
}

.scroll-conteiner {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 10px;
	width: 85%;
	margin: 0 auto;
	padding: 50px 0;
}

.left-arrow {
	margin-right: 50px;
}

.right-arrow {
	margin-left: 50px;
}

.scroll-conteiner-image {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 189px;
	height: 189px;
	background: #0e0e0e;
	border-radius: 15px 15px 15px 15px;
}

.image-box img {
	width: 189px;
	height: 142px;
	border-radius: 15px 15px 0 0;
}

.text-image-box a {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.05em;
	color: #dcd0b4;
}
